.card{
padding: 20px;
text-align: center;
margin: 10px;
box-shadow: 5px 5px 5px hsla(0%, 0%, 0%, 0.1);
border-radius: 10px;
border: 1px solid hsla(0, 0%, 0%, 0.212);
max-width: 350px;
display: inline-block;
}

.card .card-image{
max-width: 60%;
}

.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.student {
border: 10px;
font-size: 2 0px;
}

.age {
  color: green;
  padding: 10px;
  margin: 10px;
  border-style: dashed;
  border-radius: 10% ;
  font-family: 'Courier New', Courier, monospace;
}

.name {
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
border-style: dotted;
margin: 2px;
padding: 0%;
max-width:max-content;
}